@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card">
        
        <div class="card-body">
            <h5 class="card-title">Bem Vindo</h5>
            <p class="card-text">Ao Buffet Ana Maria</p>
            <a asp-area="" asp-controller="Home" asp-action="Login">Login</a>
        </div>
    </div>
</div>